@model SmartFoundation.UI.ViewModels.SmartPage.FormTableViewModel

@{
    ViewData["Title"] = Model.PageTitle ?? "النموذج";
}

<div class="container mx-auto py-4">
    <h1 class="text-xl font-bold mb-4">@ViewData["Title"]</h1>
</div>

@if (Model.Form is not null)
{
    @await Component.InvokeAsync("SmartForm", new { model = Model.Form })
}

@if (Model.Table is not null)
{

    @* @await Component.InvokeAsync("SmartTableDS", new { model = Model.Table }) *@

    @if (!(ViewBag.HideTable as bool? ?? false))
    {
        @await Component.InvokeAsync("SmartTableDS", Model.Table)
    }
    else
    {
        <div class="mt-4 text-sm text-gray-600"></div>
    }

}

