@model SmartFoundation.UI.ViewModels.SmartCharts.ChartCardConfig
@using SmartFoundation.UI.ViewModels.SmartCharts
@using System.Text.Json
@using System.Text.Encodings.Web

@{
    var hostId = $"colpro_{Model.Id}";
    var cfgId = $"{hostId}_cfg";

    var s0 = (Model.ColumnProSeries ?? new List<ChartSeries>()).FirstOrDefault();
    var cfg = new
    {
        id = hostId,
        dir = (Model.Dir ?? "rtl").ToLower(),
        tone = Model.Tone.ToString().ToLower(),
        valueFormat = string.IsNullOrWhiteSpace(Model.ColumnProValueFormat) ? "0" : Model.ColumnProValueFormat,
        minBarWidth = Model.ColumnProMinBarWidth <= 20 ? 44 : Model.ColumnProMinBarWidth,
        height = Model.ColumnProHeight <= 120 ? 260 : Model.ColumnProHeight,
        showValues = Model.ColumnProShowValues,

        labels = (Model.ColumnProLabels ?? new List<string>()),
        values = (s0?.Data ?? new List<decimal>()).Select(v => (double)v).ToList(),
        hrefs = (Model.ColumnProHrefs ?? new List<string>())
    };

    var json = JsonSerializer.Serialize(cfg, new JsonSerializerOptions
    {
        Encoder = JavaScriptEncoder.Default,
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    });
}

<div id="@hostId" class="smart-colpro" data-config-id="@cfgId"></div>

<script type="application/json" id="@cfgId">
    @Html.Raw(json)
</script>
